


 <div data-alert style="margin:0;  background-color: #89c683;   border:none; border-bottom: 2px solid black;" class="alert-box">
                <div class="pre" >
                

  <p> <strong>Launch Pricing: </strong>The price starts at $1 and increases by $1 (with every sale) until it reaches $<%= final_course_price %></p>
 

</div>
                <a href="#" class="close border-white"  >&times;</a>
              </div>