 <div class="row">
      <div class="medium-12 columns" >
          <p>Made in YOURCITY by YOURNAME, Inc. © 2015</p>
          <p>All Rights Reserved.</p>
          <p><a href="#">Privacy Policy</a> &nbsp;•&nbsp; <a href="#">Contact Us</a> •&nbsp; <a href="/adminsignin">Admin</a></p>

          <p > (<a href="http://www.trycoursify.com/">Powered By Coursify</a>)</p>
        </div>
       
      </div>